{{> head}}

<div class="container">
  <h2>Add Product</h2>
  <form action="/addProduct" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label >Product Name</label>
      <input type="text" class="form-control"  placeholder="Enter Product Name" name="productName">
    </div>
    <div class="form-group">
      <label for="pwd">Description:</label>
      <input type="text" class="form-control" placeholder="Enter Description" name="description">
    </div>
    <div class="form-group">
    <label for="pwd">Product Category:</label>
    <select class="form-select" name="productCategory" id="category">
      <option class="form-control" value="">Select Category</option>
      {{#data}}
      <option class="form-control" value="{{_id}}">{{categoryName}}</option>  
      {{/data}}
    </select>

    </div>
        <div class="form-group">
      <label for="pwd">Image:</label>
      <input type="file" class="form-control" placeholder="Enter Product Image" name="productImage">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{> footer}}